/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Variables*/

:root {
    --font-inconsolata: 'Inconsolata', monospace;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-space-mono: 'Space Mono', monospace;
    --color-gray-one: #333333;
    --color-gray-two: #4f4f4f;
    --color-gray-three: #bdbdbd;
    --color-white: #fff;
}

/* CSS */

header {
    font-family: var(--font-inconsolata);
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-gray-one);
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    width: 133px;
    height: 25px;
    display: flex;
    align-items: center;
    left: 77px;
    top: 40px;
    position: absolute;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* vw significa viewport width que es el ancho de la ventana gráfica */
    width: 90vw;
    /* vh significa viewport height que es la altura de la ventana gráfica*/
    height: 90vh;
    gap: 100px;
}

.container-image img {
    width: 539.22px;
    height: 447.43px;
}

.container-text {
    flex-direction: column;
}

.container-text h1 {
    font-family: var(--font-space-mono);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: var(--color-gray-one);
    height: 190px;
    width: 586px;
}

.container-text p {
    font-family: var(--font-space-mono);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: var(--color-gray-two);
    width: 381px;
    height: 108px;
}

.container-text button {
    width: 216px;
    height: 68px;
    background-color: var(--color-gray-one);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: var(--font-space-mono);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    margin: 24px 24px 24px 0;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: var(--color-white);
}

footer {
    font-family: var(--font-montserrat);
    color: var(--color-gray-three);
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--color-gray-three);
}

/* Media Queries */

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .container-image img {
        width: 286.86px;
        height: 238px;
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .container-image img {
        width: 286.86px;
        height: 238px;
    }
}

@media all and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .container-image img {
        width: 286.86px;
        height: 238px;
    }
}